################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/config/envProd
/src/modules/drive/workoffice-drive-firebase-adminsdk.json
/.env
/.vscode
/node_modules
.vs
ecosystem.config.js
certificate.pem
privatekey.pem
/certificate.crt
/privatekey.key
/key.json
/key_old.json
